* {
    box-sizing: border-box;
    margin: 0
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020204ef;
    padding: 10px 20px;
    color: white;
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.menu{
    display: flex;
    gap: 10px;
    list-style: none;
}
button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2b28d8;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
